* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

.content {
  flex: 1;
  padding-top: 57px;
  overflow-y: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

.footer-icon {
  background-color: pink;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  padding: 10px 10px;
}

